<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Hola {{name}},</h2>
    <p>Has solicitado restablecer tu contraseña.</p>

    <p>Puedes hacerlo con este enlace:</p>
    <a href="{{checkLink}}">{{checkLink}}</a>

    <p>O usar esta contraseña temporal: <b>{{newPassword}}</b></p>

    <br>
    <p>Si no solicitaste este cambio, ignora este correo.</p>
</body>
</html>