<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Dispositivo desconocido</title>
    <style>
      * { font-family: "Arial", sans-serif; } .container { width: 85%; background-color: #ffffff; padding: 30px; border: 1px solid #dcdcdc; border-radius: 10px; box-shadow: 0 4px
      15px rgba(0, 0, 0, 0.1); text-align: left; } .image { text-align: center; } img { width: 10rem; } h1 { color: #333; font-size: 26px; margin-bottom: 15px; text-align: center;
      } hr { border: 0; height: 1px; background-color: #e0e0e0; margin: 30px 0; } p { margin: 15px 0; color: #555; font-size: 16px; } a { color: #1a73e8; text-decoration: none;
      font-weight: bold; } a:hover { text-decoration: underline; } .highlight { background-color: #fff8e1; padding: 15px; border-left: 5px solid #ffca28; border-radius: 5px;
      margin: 25px 0; } .footer { margin-top: 40px; text-align: center; color: #999; font-size: 12px; } .footer p { margin: 5px 0; } .footer a { color: #1a73e8; text-decoration:
      none; } .footer a:hover { text-decoration: underline; }
    </style>
  </head>
  <body>
    <div class='container'>
      <div class='image'>
        <img
          src='https://static.vecteezy.com/system/resources/thumbnails/002/631/320/small_2x/computer-error-black-glyph-icon-system-failure-message-window-for-pc-monitor-cyber-safety-danger-diagnostics-for-software-issues-silhouette-symbol-on-white-space-isolated-illustration-vector.jpg'
          alt='img_unknown_ip_address'
        />
      </div>
      <h1>Solicitud de Inicio de Sesión desde un Nuevo Dispositivo</h1>

      <hr />

      <p style='text-transform: capitalize'>Hola <strong>{{name}}</strong>,</p>
      <p>
        Hemos recibido una solicitud para
        <a href=''>iniciar sesión desde otro dispositivo </a>
      </p>

      <p class='highlight'>
        <strong>Este enlace estará activo por solo 10 minutos.</strong>
      </p>
      <p>
        Si no solicitaste este cambio de dispositivo es posible que otra persona esté intentando acceder a tu cuenta, si es asi ignora este correo.
      </p>
      <br />
      <p>Atentamente,</p>
      <p>El equipo de Soporte</p>
      <br />
      <div class='footer'>
        <p>© 2024 Tu Empresa. Todos los derechos reservados.</p>
        <p>
          <a href='#'>Política de privacidad</a>
          |
          <a href='#'>Términos de servicio</a>
        </p>
      </div>
    </div>
  </body>
</html>